<!doctype html>
<html lang="en">
<head>
    {% include gtag.html %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="metro4:cloak" content="switch">
    {% if page.canonical_url != nil %}
    <link rel="canonical" href="{{ page.canonical_url }}"/>
    {% else %}    
    <link rel="canonical" href="https://korzh.com{{ page.url | replace:'/index.html','' | replace:'.html',''}}">
    {% endif %}
    <link rel="stylesheet" href="//cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="//cdn.korzh.com/ed/1.4.11/easydata.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>{{ page.title }}</title>
</head>
<body class="m4-cloak">
	{% include appbar.html %}
    <br/>
    <br/>

    {{ content }}
	
    {% include footer.html %}

</body>
</html>
