<!doctype html>
<html lang="en">
<head>
    {% include gtag.html %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="metro4:cloak" content="switch">
    {% if page.canonical_url != nil %}
    <link rel="canonical" href="{{ page.canonical_url }}"/>
    {% else %}    
    <link rel="canonical" href="https://korzh.com{{ page.url | replace:'/index.html','' | replace:'.html',''}}">
    {% endif %}
    <!--<link rel="stylesheet" href="/assets/css/easydata.css">-->
    <link rel="stylesheet" href="/assets/metro/metro.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <title>{{ page.title }}</title>
</head>
<body class="m4-cloak">
	{% include appbar.html %}
    <br/>
    <br/>

    {{ content }}
	
    {% include footer.html %}

    <script id="help-ukraine-win" async="true" src="https://helpukrainewinwidget.org/cdn/widget.js?type=two&position=middle-right&layout=main"></script>
</body>
</html>
