<footer class="container-fluid mt-auto">
    <div class="container">
        <ul class="footer__menu">
            <li><a href="/">HOME</a></li>
            <li><a href="/easyquery">EASYQUERY.NET</a></li>
            <li><a href="/metroui">METRO UI</a></li>
            <li><a href="/localizer">LOCALIZER</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/support">SUPPORT</a></li>
            <li><a href="/resellers">RESELLERS FAQ</a></li>
            <li><a href="/account">YOUR ACCOUNT</a></li>
            <li><a href="/privacy">PRIVACY</a></li>
            <li><a href="/terms-of-use">TERMS OF USE</a></li>
        </ul>

        <hr class="mt-10 mb-10 thin"/>

        <div class="d-flex flex-column flex-align-center">
            <div>1998-2023 &copy; Korzh.com.</div><span class="ml-4 mute-text">All Rights Reserved.</span>
            <div class="mute-text">All product names, logos, and brands are the property of their respective owners.</div>
            <div>
                Site built with <a class="fg-cyan" href="/metroui">Metro UI</a>
            </div>
        </div>
    </div>
</footer>
<script defer src="/assets/metro/metro.js"></script>
<script src="/assets/js/index.js"></script>
<script defer src="/assets/js/app-client.min.js"></script>
